/* Basic Style */

.page {
  background-color: #f8f8f8;
  color: #333;
  font-family: "Lato", sans-serif;
}

.eisenhower {
  width: 500px;
  margin: 0 auto;
  display: block;
  text-align: right;
}

.eisenhower__img {
  width: 100%;
}

.eisenhower .eisenhower__inf {
  font-family: fantasy, cursive;
}

@media (max-width:768px) {
  .eisenhower {
    text-align: center;
  }
}

.main {
  display: block;
  width: 500px;
  margin: 0 auto 0;
}

.main__add-item-wrapper {
  display: flex;
}

.main__list-label, .main__btn {
  outline: none;
}

.main__btn {
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: 'Lato', sans-serif;
  cursor: pointer;
}

.main__btn:hover {
  color: #3a3a3a;
}

/* Heading */

.main__title {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;
}

.main__add {
  padding: 12px 0;
}

.main__add-item:focus {
  color: #333;
}

/* New Task */

.main__title_first {
  display: block;
  margin: 0 0 20px;
}

.main__add-item {
  width: 318px;
}

.main__label-todo {
  width: 56%;
  display: inline-block;
  flex-grow: 1;
}

/* Task list */

.main__list {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main__list-checkbox {
  margin: 0 10px;
}

.main__list_param {
  margin: 0;
  padding: 0px;
}

.main__list-label {
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
  width: 226px;
}

.main__list-text {
  width: 226px;
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 21px;
  padding: 0 9px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 6px;
  font-family: 'Lato', sans-serif;
  color: #888;
  outline: none;
}

.main__list-delete:hover {
  color: #cf2323;
}

.main__task-label {
  width: 56%;
  display: inline-block;
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
  width: 226px;
  vertical-align: middle;
  flex-grow: 1;
}

.main__list-img {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}

.main__list-img:hover {
  transform: rotateZ(0);
}

/* Completed */

.main__list-label_done {
  text-decoration: line-through;
  color: #888;
}

/* Edit Task */

.main__item_edit-mode .main__list-text {
  display: flex;
  flex-grow: 1;
  width: 224px;
}

.main__item_edit-mode .main__list-label {
  display: none;
}